In [1]:
options(warning=F)
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
mtcars %>%  rownames_to_column("model") %>% 
            mutate(cyl = as.character(cyl)) %>% 
            filter(cyl == 4) %>% 
            select(model,wt,cyl,mpg) %>%
            mutate(CPW = mpg/wt) %>%
            arrange(desc(mpg))

   model          wt    cyl mpg  CPW
1  Toyota Corolla 1.835 4   33.9 18.474114
2  Fiat 128       2.200 4   32.4 14.727273
3  Honda Civic    1.615 4   30.4 18.823529
4  Lotus Europa   1.513 4   30.4 20.092531
5  Fiat X1-9      1.935 4   27.3 14.108527
6  Porsche 914-2  2.140 4   26.0 12.149533
7  Merc 240D      3.190 4   24.4  7.648903
8  Datsun 710     2.320 4   22.8  9.827586
9  Merc 230       3.150 4   22.8  7.238095
10 Toyota Corona  2.465 4   21.5  8.722110
11 Volvo 142E     2.780 4   21.4  7.697842